/*
https://www.google.com/search?q=timeline+creation+react&sca_esv=aa829b616ed71649&sxsrf=AE3TifMrrdDm_2zEnX0AEr4zKhR5vamM5Q%3A1753112166436&ei=Zl5-aO22Go3PhbIPi6aAkAs&ved=0ahUKEwjtgbrfo86OAxWNZ0EAHQsTALIQ4dUDCBA&uact=5&oq=timeline+creation+react&gs_lp=Egxnd3Mtd2l6LXNlcnAiF3RpbWVsaW5lIGNyZWF0aW9uIHJlYWN0MgQQIxgnMgUQABjvBTIIEAAYgAQYogQyBRAAGO8FSOYKULwIWLwIcAJ4AZABAJgBTaABTaoBATG4AQPIAQD4AQGYAgOgAlXCAgoQABiwAxjWBBhHmAMAiAYBkAYFkgcBM6AH0AOyBwExuAdRwgcFMC4yLjHIBwY&sclient=gws-wiz-serp#fpstate=ive&vld=cid:6786b0f2,vid:WxEk3CZ7Zz0,st:0
*/
@keyframes progressAnimation {
    from { height: 0px; }
    to { height: 350px; }
}

@keyframes markerAnimation {
    from { background-color: var(--secondary-rgb); }
    to { background-color: var(--accent1); }
}

.timeline {
    position: relative;
    z-index: -1;
}

.line {
    position: absolute;
    top: 0;
    height: 500px;
    width: 4px;
    background-color: var(--secondary-rgb);
}

.progress {
    position: absolute;
    top: 0;
    height: 350px;
    width: 4px;
    background-color: var(--accent1);
    z-index: 1;
    animation: progressAnimation 2s;
}

.item {
    position: relative;
    margin-bottom: 250px;
}

.marker {
    position: absolute;
    border-radius: 50%;
    left: -0.5rem;
    width: 20px;
    height: 20px;
    background-color: var(--accent1);
    animation: markerAnimation 1.5s;
}

.content {
    color: var(--secondary-rgb);
    padding: 1rem;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
}

.content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px var(--accent1);
}

@media only screen and (max-width: 1000px) {
    .timeline {
       display: none; 
    }
}