@import "tailwindcss";

@theme {
  --font-display: "Courier New", Courier, monospace; 
}

@theme {
  --animate-fade-in: fade-in 0.5s ease-in-out forwards;
  --animate-typing: typing 2.5s steps(17, end) 1s backwards, blinking step-end 5.5s 1s;
  --animate-appearance: appearance 0.1s backwards;
  --animate-disapear: disappear 0.5s 7.1s backwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes typing {
    0% { width: 0; }
    100% { width: 17ch }
  }

  @keyframes blinking {
    0% { border-right: 2px solid white; }
    50% { border-right: 2px solid transparent; }
    100% { border-right: 2px solid white; }
  }

  @keyframes appearance {
    0% { opacity: 0; }
    100% { opacity: 100% }
  }

  @keyframes disappear {
    0% { 
      opacity: 100%; 
    }
    100% { 
      opacity: 0;
      background-color: #21222c;
     }
  }
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --background: #1F2937;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;


  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(181, 181, 181, 0.4);
}

 body {
  background: #21222c;
  color: white;
}

.mainTitle {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.dynamicHTMLstyling hr {
  opacity: 50%;
  margin-bottom: 1.25rem;
}

.dynamicHTMLstyling p {
  margin-top: 1rem;
}

.dynamicHTMLstyling h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.dynamicHTMLstyling h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.dynamicHTMLstyling ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.linkContainer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.link {
  background-color: #bbbebf;
  color: #21222c;
  padding: 4px;
  border-radius: 2px;
}

.link:hover {
  background-color: #8c8e8e;
  color: #21222c;
  padding: 4px;
}